<h1>Eleicoes Tabelas</h1>

<%= link_to "zone_candidates", 'zone_candidates' %><br/>
<%= link_to "candidates", 'candidates' %><br/>
<%= link_to "electors", 'electors' %><br/>
<%= link_to "parties", 'parties' %><br/>
<%= link_to "people", 'people ' %>

