<%= form_with(model: candidate, local: true) do |form| %>
    <% if candidate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
            <% candidate.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="input-field">
      <%= form.label :CPF %>
      <%= form.text_field :idPerson, placeholder: 'Digite seu CPF' %>
    </div>


    <div class="input-field">
      <%= form.label :candidateNumber %>
      <%= form.text_field :candidateNumber %>
    </div>

    <div class="field">
      <%= form.label :idParty %>
      <%= collection_select(:candidate, :idParty, Party.order(:partyAbbv).limit(100), :idParty, :partyAbbv, :prompt => true) %>
    </div>

    <div class="field">
      <%= form.label :idCargo %>
      <%= collection_select(:candidate, :idCargo, Cargo.limit(100), :idCargo, :cargoName, :prompt => true) %>
    </div>

    <div class="field">
      <%= form.label :idCity %>
      <%= collection_select(:candidate, :idCity, City.order(:cityName).limit(100), :idCity, :cityName, :prompt => true) %>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>candidatePhoto</span>
        <%= form.file_field :candidatePhoto %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="actions">
      <%= form.submit class:'btn waves-effect waves-light right' %>
    </div>
<% end %>
