<p id="notice"><%= notice %></p>

<p>
  <strong>Partyname:</strong>
  <%= @party.partyName %>
</p>

<p>
  <strong>Partyabbv:</strong>
  <%= @party.partyAbbv %>
</p>

<p>
  <strong>Idperson:</strong>
  <%= @party.person.nome %>
</p>

<p>
  <strong>Partylogo:</strong><br/>
  <%= image_tag url_for(action: :show_image, id: @party.idParty),height: '150px', width: '150px' %>
</p>

<%= link_to 'Edit', edit_party_path(@party), class:'btn waves-effect waves-light left' %>
<%= link_to 'Back', parties_path, class:'btn waves-effect waves-light left' %>
