<%= form_with(model: elector, local: true) do |form| %>
    <% if elector.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(elector.errors.count, "error") %> prohibited this elector from being saved:</h2>

          <ul>
            <% elector.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="input-field">
      <%= form.label :CPF %>
      <%= form.text_field :idPerson, placeholder: 'Digite seu CPF' %>
    </div>

    <div class="input-field">
      <%= form.label :idElector %>
      <%= form.text_field :idElector %>
    </div>

    <div class="field">
      <%= form.label :idZone %>
      <%= collection_select(:elector, :idZone, Zone.order(:numZone).limit(100), :idZone, :nome, :prompt => true)%>
    </div>

    <div class="actions">
      <%= form.submit class:'btn waves-effect waves-light right' %>
    </div>
<% end %>
