<%= form_with(model: @person, local: true) do |form| %>
    <% if person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% person.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="input-field">
      <%= form.label :idPerson %>
      <%= form.text_field :idPerson %>
    </div>

    <div class="input-field">
      <%= form.label :personFirstName %>
      <%= form.text_field :personFirstName %>
    </div>

    <div class="input-field">
      <%= form.label :personLastName %>
      <%= form.text_field :personLastName %>
    </div>

    <div class="input-field">
      <%= form.label :personBirthDate %>
      <%= form.text_field :personBirthDate, class: 'datepicker'%>
    </div>

    <div class="field">
      <%= form.label :personSex %>
      <%= select(:person, :personSex, ['M','F']) %>
    </div>

    <div class="field">
      <%= form.label :idAddress %>
      <%= collection_select(:person, :idAddress, Address.order(:addressName).limit(100), :idAddress, :addressName, :prompt => true)%>
    </div>

    <div class="field">
      <%= form.label :idEducation %>
      <%= collection_select(:person, :idEducation, Education.limit(100), :idEducation, :educationName, :prompt => true) %>
    </div>

    <div class="actions">
      <%= form.submit class:'btn waves-effect waves-light right' %>
    </div>
<% end %>
